body {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Style the header with a grey background and some padding */
header {
	overflow: hidden;
	background-color: #ee0700;
	padding: 2px 5px;
	width: calc(100% - 10px);
}

/* Style the header links */
header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 14pt;
	line-height: 25px;
	border-radius: 4px;
}

@media only screen and (min-width: 400px) {
	header a {
		margin-right: 10px;
	}
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
	font-size: 25px;
	font-weight: bold;
}

header nav {
	margin-top: 20px;
}

/* Change the background color on mouse-over */
header nav a:hover {
	background-color: #ddd;
	color: black;
}

/* Style the active/current link*/
header nav a.active {
	background-color: #797676;
}

header nav a.active:hover {
	color: white;
}

/* Float the link section to the right */
.header-right {
	float: right;
}

/* Search buttons */
form #search {
	width: 300px;
	height: 36px;
	margin: 5px 0 5px 0;
	font-size: 16pt;
}

@media only screen and (min-width: 720px) {
	form #search {
		width: 500px;
	}
}

/* Dropdowns */
form .dropdown-container {
	position: relative;
	display: inline-block;
	margin: 10px 0;
}

form .dropdown-select {
	color: black;
	padding: 10px;
	cursor: pointer;
	border: 1px solid black;
}

form .dropdown-select:hover {
	background-color: lightgray;
}

.dropdown {
	margin-top: 10px;
	position: absolute;
	background-color: white;
	width: 300px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

form .dropdown input,
form .dropdown label {
	height: 32px;
	font-size: 16pt;
	vertical-align: middle;
}

/* Center the dropdowns */
form #types {
	margin-left: -4px;
}

form #generations {
	margin-left: -111px;
}

form #results {
	margin-left: -214px;
}

/* Pokemon Cards */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

#content {
	width: 100%;
}

#content .pokemon-card {
	width: 250px;
	text-align: center;
	border: 1px solid black;
	padding: 0 10px;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}

#content .pokemon-card a {
	text-decoration: none;
	color: black;
}

#content .pokemon-card img {
	width: 150px;
}

/* Submit Button */
form #submit {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

/* Next/Previous page */
#pageButtons {
	width: 100%;
	height: 0; /* To avoid it blocking the search bar */
	position: absolute;
}

#pageButtons input {
	height: 40px;
	border: none;
	color: white;
	border-radius: 5px;
	background: red;
	cursor: pointer;
	width: 80px;
	position: relative;
	top: 97px;
}

#pageButtons #prevPage {
	margin-right: 120px;
}

@media only screen and (min-width: 420px) {
	#prevPage {
		margin-right: 240px;
	}
}

#pageButtons input:disabled {
	background: grey;
	cursor: auto;
}

/* Pokemon Detail */
#detail-page {
	width: 100%;
	padding: 0;
	margin: 0;
}

#detail-page #add-to-team {
	width: 100px;
	height: 40px;
	background: red;
	color: white;
	border: none;
	margin-top: 10px;
	cursor: pointer;
}

#pokemon-detail {
	width: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

@media screen and (min-width: 900px) {
	#pokemon-detail {
		width: 70%;
		padding: 0 10px;
		margin: 5px;
	}
}

#pokemon-detail img {
	width: 250px;
}

/* Types */
#detail-page #types {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 0 20px 0;
	width: 100%;
}

#detail-page #types span {
	padding: 5px 10px;
	border-radius: 15px;
	border: 1px solid black;
	margin: 0 3px;
	color: white;
}

/* Individual types */
#detail-page .normal {
	background: #807918;
}
#detail-page .fire {
	background: #d14904;
}
#detail-page .water {
	background: #6576a2;
}
#detail-page .grass {
	background: #657e54;
}
#detail-page .electric {
	background: #726900;
} /* */
#detail-page .ice {
	background: #2b8381;
}
#detail-page .fighting {
	background: #c03028;
}
#detail-page .poison {
	background: #a040a0;
}
#detail-page .ground {
	background: #9f6d0b;
}
#detail-page .flying {
	background: #8754f9;
}
#detail-page .psychic {
	background: #e8174f;
}
#detail-page .bug {
	background: #787a44;
}
#detail-page .rock {
	background: #947201;
}
#detail-page .ghost {
	background: #705898;
}
#detail-page .dark {
	background: #7038f8;
}
#detail-page .dragon {
	background: #705848;
}
#detail-page .steel {
	background: #74758c;
}
#detail-page .fairy {
	background: #cc4a51;
}

/* Evolutions */
#detail-page #evolutions {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap; /* allow items to wrap to a new row or column */
	background: black;
	color: white;
	width: fit-content;
	padding: 20px 40px 0 40px;
	margin: 0 auto;
	border-radius: 10px;
}

#detail-page #evolutions img {
	width: 150px;
	padding: 30px;
	border: 1px solid white;
	border-radius: 100px;
	margin-right: 10px;
	background: white;
}

#detail-page #evolutions a {
	text-decoration: none;
	color: white;
}

#detail-page #moves {
	width: 100%;
	column-count: auto;
	column-width: 130px;
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

#detail-page #moves li {
	padding: 10px 0;
	margin-top: 3px;
}

#detail-page #moves.pointer li:hover {
	cursor: pointer;
}

#detail-page #moves li.selected {
	background: yellow;
}

/* Team */
.slider {
	max-width: 552px;
	width: 100%;
	height: fit-content;
	display: flex;
	overflow-x: auto;
	touch-action: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	width: 0;
	height: 0;
}

.team-selector {
	text-decoration: none;
	color: white;
	display: inline-block;
	background: red;
	width: 80px;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.slide {
	max-width: 100vw;
	flex-shrink: 0;
	height: 100%;
}

.slider > div {
	scroll-snap-align: start;
}

.team {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	justify-content: center;
}

.team li {
	width: fit-content;
	margin-right: 10px;
	cursor: pointer;
}

.team li img {
	width: 70px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 100px;
}

#manageButtons {
	width: 100%;
	text-align: center;
}

#manageButtons input {
	width: 80px;
	height: 40px;
	background: red;
	color: white;
	border: none;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

/* Footer */
footer {
	border-top: 2px solid black;
	padding: 1em;
}

.hidden {
	display: none !important;
}

.wide {
	width: 100%;
}

/* Add to team */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	max-width: 500px;
}

@media only screen and (min-width: 800px) {
	.modal-content {
		display: grid;
		grid-template-columns: 150px 1fr;
	}

	.team-selection {
		border-right: 1px solid lightgray;
	}
}

.team-selection {
	height: 228px;
	display: flex;
	flex-direction: column;
}

.team-slots {
	text-align: center;
}

@media only screen and (min-width: 800px) {
	.team-slots {
		text-align: left;
	}

	.slot-option {
		padding: 10px 10px 10px 40px;
	}
}

.team-option {
	padding: 10px;
	cursor: pointer;
}

.slot-option {
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}

.team-option.selected,
.slot-option.selected {
	background-color: #ccc;
}
